pipeline/PL_DELETE_BLANKS.json
{
	"name": "PL_DELETE_BLANKS",
	"properties": {
		"activities": [
			{
				"name": "Get all files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ALL_FILES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get all files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"Size": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-10T07:54:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}