pipeline/pl_lookup_filter.json
{
	"name": "pl_lookup_filter",
	"properties": {
		"activities": [
			{
				"name": "Lookupcode",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_LOOKUP_FILES",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filtercode",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookupcode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupcode').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SIC_Code,'1110')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-12T05:47:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}