pipeline/pl_v_csv_sql_activity_log.json
{
	"name": "pl_v_csv_sql_activity_log",
	"properties": {
		"activities": [
			{
				"name": "Copy_sql_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DailySales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "usp_audit_errorlog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_sql_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('Copy_sql_csv').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('Copy_sql_csv').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname,'_',pipeline().parameters.tablename)\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_sql_csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('Copy_sql_csv').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('Copy_sql_csv').output.errors[0].code",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('Copy_sql_csv').output.errors[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('Copy_sql_csv').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname,'_',pipeline().parameters.tablename)\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schemaname": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "DailySales"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-11T18:34:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}